@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 199 30% 95%;
 
    --card: 0 0% 2%;
    --card-foreground: 199 30% 95%;
 
    --popover: 0 0% 2%;
    --popover-foreground: 199 30% 95%;
 
    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 199 30% 10%;
    --secondary-foreground: 199 89% 48%;
 
    --muted: 199 30% 10%;
    --muted-foreground: 199 40% 60%;
 
    --accent: 199 30% 15%;
    --accent-foreground: 199 89% 48%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 199 50% 15%;
    --input: 199 50% 15%;
    --ring: 199 89% 48%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
